<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Blog Site</a>
            <button class="navbar-toggler"  type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="@Url.Action("Index", "Test")">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="@Url.Action("CreateWriter", "Writer")">Yazar Kaydı</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="@Url.Action("GetAllWriters", "Writer")">Yazarları Listele</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="@Url.Action("CreateUser", "AuthUser")">Kaydol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="@Url.Action("LoginUser", "AuthUser")">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="@Url.Action("GetAllUsers", "AuthUser")">Kullanıcıları Listele</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="@Url.Action("LogoutUser", "AuthUser")">Çıkış Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled text-secondary">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
</body>
</html>
