@model List<BlogApp.Models.BlogController.ListAllBlogViewModel>
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext?.User;
    bool isEdit = user.IsInRole("Blog_UpdateBlog");
    bool isDelete = user.IsInRole("Blog_DeleteBlog");
}

<h1>Tüm Yazılar</h1>




<table class="table table-striped">
    <thead>
        <tr>
            <th><label asp-for="@Model.First().Id"></label></th>
            <th><label asp-for="@Model.First().Title"></label></th>
            <th><label asp-for="@Model.First().WriterId"></label></th>
            <th>Yönet</th>
        </tr>

    </thead>
    <tbody>
        @foreach (BlogApp.Models.BlogController.ListAllBlogViewModel item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.WriterId</td>
                <td>
                    <a href="@Url.Action("DetailBlog", "Blog", new { blogId = item.Id })">Oku</a> |
                    @if (isEdit)
                    {
                        <a href="@Url.Action("UpdateBlog", "Blog", new { blogId = item.Id })">Güncelle</a>
                        <span>|</span>
                    }

                    @if (isDelete)
                    {
                        <a style="color:red" href="@Url.Action("DeleteBlog", "Blog", new { blogId = item.Id })">Sil</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>